# Reports für Gebäude aktivieren: J für Ja, N für Nein

NO_BER_ATT_E = J
NO_BER_ATT_M = J
NO_STA_RUH_5 = J
NO_STA_RUH_5A = J
NW_DOR_KAM = J
NW_KAS_KOE = N
N__BRE_STR = J
N__HAM_AMS = J
N__HAM_HEI = J
N__LAN_FRA = J
N__LAN_VAH = N
O__BAU_WIL = J
O__DRE_CHE = J
O__RAD_MEI = J
Pool-In-Campus = N
Pool-In-Gebaeude = N
Pool-In-Stadt = N
Pool-Zw-Staedten = N
RM_ESC_ALF = J
RM_ESC_HAU = J
RM_ESC_KOE = J
RM_SAA_INN = J
RM_SUL_OTT = J
SW_FRE_REN = J
SW_MAN_FLO = J
SW_STU_ING_10 = J
SW_STU_ING_20 = J
S__MUE_KAS = J
S__NUE_DON = N
W__DUE_KAI_4 = N
W__DUE_KAI_6 = N
W__ESS_REL = J
W__ESS_THE = N
W__RAT_D2P_1-3 = J
W__RAT_D2P_2-4 = J
W__RAT_D2P_5 = J
W__RAT_EUT = J
ZV_DUE_EMA = J
ZV_DUE_FVF = N
ZV_DUE_MAN_3 = J
ZV_DUE_NKL = N
ZV_DUE_SEE_1 = J
ZV_DUE_SEE_3 = J
ZV_DUE_SEE_3A = J
ZV_DUE_SEE_4 = J
ZV_DUE_SEE_5 = J
