# Etagen, die nicht im NIA-Report aufgenommen werden sollen, muessen zeilenweise 
# unter dem in eckigen Klammen gesetzten [Gebäudenamen] aufgeführt werden
# Mit Raute beginnende Zeilen werden werden beim Auslesen der Konfiguration ignoriert

[NO_BER_ATT_E]
#OG03

[NO_BER_ATT_M]

[NO_STA_RUH_5]

[NO_STA_RUH_5A]

[NW_DOR_KAM]
#UG01 

[NW_KAS_KOE]
#UG01

[N__BRE_STR]

[N__HAM_AMS]

[N__HAM_HEI]

[N__LAN_FRA]

[N__LAN_VAH]

[O__BAU_WIL]

[O__DRE_CHE]

[O__RAD_MEI]

[Pool-In-Campus]
Pool

[Pool-In-Gebaeude]
Pool

[Pool-In-Stadt]
Pool

[Pool-Standort]
Pool

[Pool-Zw-Staedten]
Pool

[RM_ESC_ALF]
#UG01
#UG02
#UG03

[RM_ESC_HAU]
#UG01
#UG02

[RM_ESC_KOE]

[RM_SUL_OTT]

[SW_MAN_FLO]

[SW_STU_ING_10]

[SW_STU_ING_20]

[W__DUE_KAI_4]

[W__DUE_KAI_6]

[W__ESS_REL]

[W__ESS_THE]

[W__RAT_D2P_1-3]

[W__RAT_D2P_2-4]

[W__RAT_D2P_5]

[W__RAT_EUT]

[ZV_DUE_FVF]

[ZV_DUE_MAN_3]

[ZV_DUE_NKL]

[ZV_DUE_SEE_1]

[ZV_DUE_SEE_3]

[ZV_DUE_SEE_3A]

[ZV_DUE_SEE_4]

[ZV_DUE_SEE_5]
