div.page-login, div.page-login * {
	margin: revert;
	padding: revert;
	font-size: 1rem;
}
div.page-login .page-login-box {
	x-width:520px;
	x-text-align:left;
	margin:60px auto 20px auto;
	font-family:Arial,sans-serif;
	box-sizing: border-box;
}
div.page-login .msg-Box h2,
div.page-login .msg-Box h3,
div.page-login .msg-Box h4,
div.page-login .msg-Box h5,
div.page-login .msg-Box h6 {
	margin: 0.5rem;
	color: #0078dc;
	previous-color: #14802b;
}
div.page-login .error-Box h2,
div.page-login .error-Box h3,
div.page-login .error-Box h4,
div.page-login .error-Box h5,
div.page-login .error-Box h6 {
	margin: 0.5rem;
	color: red;
}

div.page-login td {
	padding: 0.2rem;
}
div.page-login table.LoginBox,
table.LoginBox {
	border-collapse:collapse;
	border-spacing:0px;
}
div.page-login .LoginBox,
.LoginBox {
	width: 100%;
	max-width:530px;
	box-sizing: border-box;
	margin-top:0px;
	border:1px solid #0078dc;
	previous-border-color: #f50000;
}
div.page-login .LoginBox .hdCell,
.LoginBox .hdCell {
	border-bottom:0px solid #0078dc;
	previous-border-color: #f50000;
	background: #0078dc;
	previous-background: #f50000;
	padding:4px;
	color:#fff;
	font-size:1rem;
	font-weight:bold;
}

div.page-login .LoginBox .topCell,
.LoginBox .topCell {
	background:#fff;
	color:#000;
	padding:40px;
}

div.page-login .LoginAdLinks,
.LoginAdLinks {
	margin-top:20px;
	border:1px dotted #000;
	padding:5px 10px 5px 15px;
	width:60%;
}
.LoginBox * a,
.LoginAdLinks a {
	color:#00f;
}
.LoginBox * a:hover,
.LoginAdLinks a:hover {
	color: #0078dc;
	previous-color: #f50000;
}

div.page-login .tdLbl,
.tdLbl {
	padding-right:5px;
	font-weight:bold;
	text-align:right;
}
input,
div.page-login input {
	box-sizing: border-box;
	border: 1px solid gray;
	padding-left: 0.5rem;
	width: 10rem;
}
div.page-login .LoginBox .msg,
div.page-login .topCell .msg,
.LoginBox .msg,
.topCell .msg
 {
	color: #0078dc;
	previous-color: #f50000;
	background:#000;
	font-size:1rem;
	padding:4px;
	margin:2px 0px 10px 0px;
}

div.page-login .LoginBox .err,
div.page-login .topCell .err,
.LoginBox .err,
.topCell .err
{
	color:red;
	background:#000;
	font-size:1rem;
	padding:4px;
	margin:2px 0px 10px 0px;
}

@media screen and (max-width: 460px) {
	div.page-login table.LoginBox, table.LoginBox {
		height: 100vh;
		background-color: #fff;
		box-sizing: border-box;
	}

	div.page-login .page-login-box {
		margin-top: 0;
	}

	div.page-login .tdLbl, .tdLbl {
		text-align: left;
	}

	div.page-login td {
		display: block;
		text-align: left;
	}
	div.page-login .LoginBox .topCell,
	.LoginBox .topCell {
		padding:1rem;
	}
}
